# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
__debug_bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# used as a convenience file when using curl commands
.last_id

# used by go buil
/output

# MacOS thumbnails
.DS_Store

# asdf versionning tool
.tool-versions

# env
.env

# vscode
.vscode/settings.json

docker-compose.dev.yml
*.log

# backoffice is not merged in master
marble-backoffice/node_modules

/.firebase
__debug_bin*
