openapi: 3.1.0
info:
  title: Marble decision engine API
  description: Public API on decisions and data ingestion.
  version: 1.0.0
x-readme:
  explorer-enabled: false
  proxy-enabled: false
  samples-languages:
    - shell
    - python
    - javascript
    - go
    - ruby
servers:
  - url: https://api.checkmarble.com/v1beta
tags:
  - name: Cases
    description: Routes for cases
paths:
  /cases:
    get:
      operationId: listCases
      tags:
        - Cases
      security:
        - BearerTokenAuth: []
        - ApiKeyAuth: []
      summary: List cases
      description: |
        List cases according to a filter set.

        This endpoint will list all cases matching the filter, sorted by creation date, in the requested order. It will not reorder "waiting for action" or hide snoozed cases.
      parameters:
        - name: inbox_id
          description: |
            Only list cases in the specified inboxes.

            This parameter may be repeated as necessary.
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          description: |
            Filter cases by their investigation status.

            This parameter may be repeated as necessary.
          in: query
          schema:
            type: string
            enum: [pending, investigating, closed]
        - name: assigned_to
          description: List cases assigned to the specified user
          in: query
          schema:
            type: string
            format: uuid
        - name: start
          description: Filter cases created on and after this date
          in: query
          schema:
            type: string
            format: date-time
        - name: end
          description: Filter cases created strictly before this date
          in: query
          schema:
            type: string
            format: date-time
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/after"
      responses:
        "200":
          description: List of cases
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - $ref: "#/components/schemas/BasePagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Case"
        "400":
          $ref: "#/components/responses/400"

    post:
      operationId: createCase
      tags:
        - Cases
      security:
        - BearerTokenAuth: []
        - ApiKeyAuth: []
      summary: Create new case
      description: |
        Create a new case.

        This endpoint enforces the following preconditions:

          - All decisions exist and are not already assigned to a case
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - inbox
                - name
              properties:
                inbox:
                  description: ID of the inbox to create the case in
                  type: string
                  format: uuid
                name:
                  description: Name of the case
                  type: string
                assignee:
                  description: Email address of the assignee
                  type: string
                  format: email
                decisions:
                  description: List of decisions to attach to this case
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        "200":
          description: New case
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Case"
        "400":
          $ref: "#/components/responses/400"
        "422":
          $ref: "#/components/responses/422"

  /cases/{caseId}:
    get:
      operationId: getCase
      tags:
        - Cases
      security:
        - BearerTokenAuth: []
        - ApiKeyAuth: []
      summary: Get case
      description: |
        Get case by its ID.
      parameters:
        - name: caseId
          in: path
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Case
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Case"
        "400":
          $ref: "#/components/responses/400"

    patch:
      operationId: updateCase
      tags:
        - Cases
      security:
        - BearerTokenAuth: []
        - ApiKeyAuth: []
      summary: Update case
      description: |
        Update a case.

        Some actions will be available through specific endpoints and will not be updateable from here.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                inbox:
                  description: ID of the inbox to move the case in
                  type: string
                  format: uuid
                name:
                  description: Name of the case
                  type: string
                outcome:
                  description: Outcome of the case
                  type: string
                  enum: [unset confirmed_risk valuable_alert false_positive]

      responses:
        "200":
          description: Case
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Case"
        "400":
          $ref: "#/components/responses/400"
        "422":
          $ref: "#/components/responses/422"

  /cases/{caseId}/close:
    post:
      operationId: closeCase
      tags:
        - Cases
      security:
        - BearerTokenAuth: []
        - ApiKeyAuth: []
      summary: Close case
      description: |
        Close a case with an optional outcome.

        This endpoint is idempotent and will result in a no-op if the case is already closed with the same outcome.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                outcome:
                  description: Final outcome of the case
                  type: string
                  enum: [unset confirmed_risk valuable_alert false_positive]
                  default: unset
      responses:
        "200":
          description: Case
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Case"
        "400":
          $ref: "#/components/responses/400"
        "422":
          $ref: "#/components/responses/422"

  /cases/{caseId}/reopen:
    post:
      operationId: reopenCase
      tags:
        - Cases
      security:
        - BearerTokenAuth: []
        - ApiKeyAuth: []
      summary: Reopen a closed case
      description: |
        Reopen a closed case.

        This endpoint is idempotent and will result in a no-op if the case is still open.
      responses:
        "200":
          description: Case
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Case"
        "400":
          $ref: "#/components/responses/400"
        "422":
          $ref: "#/components/responses/422"

  /cases/{caseId}/escalate:
    post:
      operationId: escalateCase
      tags:
        - Cases
      security:
        - BearerTokenAuth: []
        - ApiKeyAuth: []
      summary: Escalate case
      description: |
        Escalate a case, moving it to the configured escalation inbox and marking it as waiting for action.

        This endpoint enforces the following preconditions:

          - The source inbox is configured to have an escalation inbox
      responses:
        "200":
          description: Case
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Case"
        "400":
          $ref: "#/components/responses/400"
        "422":
          $ref: "#/components/responses/422"

  /cases/{caseId}/comments:
    get:
      operationId: listCaseComments
      tags:
        - Cases
      security:
        - BearerTokenAuth: []
        - ApiKeyAuth: []
      summary: List case comments
      description: |
        List comments that were left on the given case.
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/after"
      responses:
        "200":
          description: List of comments
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - $ref: "#/components/schemas/BasePagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/CaseComment"
        "400":
          $ref: "#/components/responses/400"
        "413":
          $ref: "#/components/responses/413"

    post:
      operation: createCaseComment
      tags:
        - Cases
      security:
        - BearerTokenAuth: []
        - ApiKeyAuth: []
      summary: Create new case comment
      description: |
        Write a new comment on the provided case.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                outcome:
                  description: |
                    Body of the comment.

                    You can format the comment with markdown markup. The comment must be up to 2048 characters.
                  type: string
                  maxLength: 2048
      responses:
        "201":
          description: Comment created
        "400":
          $ref: "#/components/responses/400"
        "422":
          $ref: "#/components/responses/422"

  /cases/{caseId}/files:
    get:
      operationId: listCaseFiles
      tags:
        - Cases
      security:
        - BearerTokenAuth: []
        - ApiKeyAuth: []
      summary: List case files
      description: |
        List files that were uploaded and attached to the provided case.
      responses:
        "200":
          description: List of files
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/CaseFile"
        "400":
          $ref: "#/components/responses/400"

    post:
      operation: uploadCaseFile
      tags:
        - Cases
      security:
        - BearerTokenAuth: []
        - ApiKeyAuth: []
      summary: Upload case file
      description: |
        Upload a new file and attach it to an existing case.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  description: File to upload, maximum 5MB.
                  type: string
                  format: binary
                  maxLength: 5242880
      responses:
        "200":
          description: File reference
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CaseFile"
        "400":
          $ref: "#/components/responses/400"
        "422":
          $ref: "#/components/responses/422"

  /cases/{caseId}/files/{fileId}/download:
    get:
      operationId: downloadCaseFile
      tags:
        - Cases
      security:
        - BearerTokenAuth: []
        - ApiKeyAuth: []
      summary: Download a case file
      description: |
        Download the file that was uploaded on a case.

        This endpoint will provide a temporary download URL for the file that can be retrieved in two ways, depending on the capabilities and configuration of your HTTP client:

           - It will be included in the response body
           - It will be part of a redirect status flow in the response
      responses:
        "302":
          $ref: "#/components/responses/302"

components:
  securitySchemes:
    BearerTokenAuth:
      type: http
      scheme: bearer
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY

  responses:
    "302":
      description: Resource can be downloaded elsewhere
      headers:
        location:
          description: The download URL of the file. If your HTTP client follows redirects, it will be downloaded directly.
          schema: string
          format: url
      content:
        application/json:
          schema:
            type: object
            required: [redirect_to]
            properties:
              redirect_to:
                description: The download URL of the file. Can be used if your HTTP client does not follows redirects.
                type: string
                format: url
    "400":
      description: Provided parameters or payload is malformed or invalid
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    "401":
      description: Credentials are missing or invalid
    "403":
      description:
        The provided credentials are missing the required permissions for
        the requested action
    "404":
      description: The requested resource does not exist
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    "409":
      description: The resource being created conflicts with an existing resource
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    "413":
      description: The request body exceeds maximum allowed size.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    "422":
      description: The requested action is not possible on the requested resource
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  parameters:
    limit:
      name: limit
      description: How many item to return on each page
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100

    order:
      name: order
      description: Sort direction for items
      in: query
      schema:
        type: string
        enum: ["ASC", "DESC"]
    after:
      name: after
      description: |
        Value to start iterating from.

        Should be a value returned in the `pagination.next_page_id` field of a response.
      in: query
      schema:
        type: string

  schemas:
    BaseResponse:
      title: Base response
      type: object
      required:
        - data
      properties:
        data:
          description: Requested objects from the API

    BasePagination:
      type: object
      properties:
        pagination:
          title: Pagination information
          type: object
          required:
            - has_more
          properties:
            has_more:
              description: Whether there are more elements to iteration through
              type: boolean
            next_page_id:
              description: Value to use in pagination filter to request for the next page
              type: string

    Error:
      title: Error response
      type: object
      required:
        - code
      properties:
        code:
          description: Defined, machine-readable identifier for the error
          type: string
          enum:
            - invalid_payload
            - unprocessable_entity
            - not_found
            - feature_disabled
            - feature_not_configured
            - server_error
        messages:
          description: |
            List of human-readable descriptions for the error.

            Those messages are subject to change over time, we do not recommend relying on them.
          type: array
          items:
            type: string
        detail:
          description: |
            Free-form objects providing details on the error

            Those messages are subject to change over time, we do not recommend relying on them.
          type: object
          additionalProperties: true

    Ref:
      title: Reference
      type: object
      required:
        - id
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: Optional name for the referenced object, not all references will have it.

    Case:
      title: Case
      type: object
      required:
        - id
        - inbox
        - name
        - status
        - outcome
        - contributors
        - tags
        - created_at
      properties:
        id:
          type: string
          format: uuid
        inbox:
          $ref: "#/components/schemas/Ref"
        name:
          type: string
        assignee:
          $ref: "#/components/schemas/Ref"
        status:
          type: string
          enum: [pending, investigating, closed]
        outcome:
          type: string
          enum: [unset, confirmed_risk, valuable_alert, false_positive]
        contributors:
          type: array
          items:
            $ref: "#/components/schemas/Ref"
        tags:
          $ref: "#/components/schemas/Ref"
        snoozed_until:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    CaseComment:
      title: Case comment
      type: object
      required:
        - id
        - user
        - comment
        - created_at
      properties:
        id:
          type: string
          format: uuid
        user:
          $ref: "#/components/schemas/Ref"
        comment:
          type: string
        created_at:
          type: string
          format: date-time

    CaseFile:
      title: Case file
      type: object
      required:
        - id
        - filename
        - created_at
      properties:
        id:
          type: string
          format: uuid
        filename:
          type: string
        created_at:
          type: string
          format: date-time
