openapi: 3.0.0
info:
  title: Marble decision engine API
  description: Public API on decisions and data ingestion.
  version: 1.0.0
x-readme:
  explorer-enabled: false
  proxy-enabled: false
  samples-languages: ["shell", "python", "javascript", "go", "ruby"]
servers:
  - url: "https://api.checkmarble.com/v1"
tags:
  - name: Sanction Checks
    description: Routes for sanction checks
paths:
  /decisions/{decisionId}/sanction-checks:
    get:
      operationId: getSanctionChecksForDecision
      tags: ["Sanction Checks"]
      security:
        - ApiKeyAuth: []
      summary: Get sanction check
      description: Retrieve sanction check details for decision
      parameters:
        - name: decisionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: List of sanction checks for the decision
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SanctionCheck'
        404:
          description: The decision was not found or has no sanction checks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /decisions/{decisionId}/sanction-checks/refine:
    post:
      operationId: refineSanctionChecksForDecision
      tags: ["Sanction Checks"]
      security:
        - ApiKeyAuth: []
      summary: Refine a sanction
      description: Replace a sanction check with refined results
      parameters:
        - name: decisionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              oneOf:
                - $ref: "#/components/schemas/SanctionCheckSearchThing"
                - $ref: "#/components/schemas/SanctionCheckSearchPerson"
                - $ref: "#/components/schemas/SanctionCheckSearchOrganization"
                - $ref: "#/components/schemas/SanctionCheckSearchVehicle"
      responses:
        200:
          description: Refined sanction check for the decision
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SanctionCheck'
        404:
          description: The decision was not found or has no pending sanction checks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /decisions/{decisionId}/sanction-checks/search:
    post:
      operationId: searchSanctionCheckForDecision
      tags: ["Sanction Checks"]
      security:
        - ApiKeyAuth: []
      summary: Perform a sanction search
      description: Retrieve sanction check result without persisting them
      parameters:
        - name: decisionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SanctionCheckSearchQuery"
      responses:
        200:
          description: Sanction check results from the search
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SanctionCheck'
        404:
          description: The decision was not found or has no pending sanction checks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /sanction-checks/matches/{matchId}:
    post:
      operationId: reviewSanctionCheckMatch
      tags: ["Sanction Checks"]
      security:
        - ApiKeyAuth: []
      summary: Review a sanction check
      description: Set the review status of a sanction check match
      parameters:
        - name: matchId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [no_hit, confirmed_hit]
                whitelist:
                  description: Whether to whitelist the "no_hit" status to prevent triggering the match in the future
                  type: boolean
                  default: false
      responses:
        200:
          description: Match content reflecting the new status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SanctionCheckMatch'
        400:
          description: The requested parameters cannot be matched to a reviewable match
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: The decision was not found or has no sanction checks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
  parameters: {}
  schemas:
    BaseResponse:
      type: object
      required: [data]
      properties:
        data:
          description: Requested objects from the API

    Error:
      type: object
      required: [code]
      properties:
        code:
          description: Defined, machine-readable identifier for the error
          type: string
        messages:
          description: List of human-readable descriptions for the error
          type: array
          items:
            type: string
        detail:
          description: Free-form objects providing details on the error
          type: object
          additionalProperties: true
    
    SanctionCheck:
      type: object
      required:
        - id
        - status
        - query
        - matches
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [in_review, no_hit, confirmed_hit, error]
        query:
          type: object
          properties:
            queries:
              description: Queries that were submitted to OpenSanctions with their IDs
              type: object
              additionalProperties:
                $ref: "#/components/schemas/SanctionCheckSearchQuery"
              example:
                8dd2edf9-6281-401a-b3e8-e65d974ed930:
                  Thing:
                    name: Jean-Baptiste Zorg
          additionalProperties: true
        matches:
          type: array
          items:
            $ref: '#/components/schemas/SanctionCheckMatch'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SanctionCheckMatch:
      type: object
      properties:
        id:
          type: string
          format: uuid
        queries:
          description: List of query IDs this match matched with
          type: array
          items:
            type: string
            format: uuid
        status:
          type: string
          enum: [pending, no_hit, confirmed_hit, skipped]
        payload:
          description: OpenSanctions payload for the match
          type: object
          additionalProperties: true
          example:
            id: ABC123

    SanctionCheckSearchQuery:
      type: object
      oneOf:
        - $ref: "#/components/schemas/SanctionCheckSearchThing"
        - $ref: "#/components/schemas/SanctionCheckSearchPerson"
        - $ref: "#/components/schemas/SanctionCheckSearchOrganization"
        - $ref: "#/components/schemas/SanctionCheckSearchVehicle"

    SanctionCheckSearchThing:
      title: Any object type
      type: object
      required: [Thing]
      properties:
        Thing:
          type: object
          minProperties: 1
          properties:
            name:
              type: string

    SanctionCheckSearchPerson:
      title: Individual
      type: object
      required: [Person]
      properties:
        Person:
          type: object
          minProperties: 1
          properties:
            name:
              type: string
            birthDate:
              type: string
            idNumber:
              type: string
            address:
              type: string

    SanctionCheckSearchOrganization:
      title: Organization or Company
      type: object
      required: [Organization]
      properties:
        Organization:
          type: object
          minProperties: 1
          properties:
            name:
              type: string
            registrationNumber:
              type: string
            address:
              type: string

    SanctionCheckSearchVehicle:
      title: Vehicle
      type: object
      required: [Vehicle]
      properties:
        Vehicle:
          type: object
          minProperties: 1
          properties:
            name:
              type: string
            registrationNumber:
              type: string
