name: Test back-end

on: workflow_call

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  test_backend:
    name: Test back-end
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test ./...

      - name: Generate Marble API OpenAPI as temporary file
        run: |
          go run pubapi/openapi/generate.go v1 > /tmp/marble-api-v1.yml
          cp pubapi/openapi/v1beta.yml /tmp/marble-api-v1beta.yml

      - name: Upload OpenAPI specifications as artifacts, to be downloaded and used in the production deployment workflow
        uses: actions/upload-artifact@v4
        with:
          name: marble-api-openapi
          path: /tmp/marble-api-*.yml
          retention-days: 1

  lint_backend:
    name: Lint back-end
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod

      - name: Build
        run: go build -v ./...

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5
          args: --timeout=3m -v
