name: Deploy back-end

on:
  workflow_call:
    inputs:
      environment:
        type: string
        description: "Github environment to use"
        required: true
      version:
        type: string
        description: "version to deploy"
        required: true
    secrets:
      GCP_SA_KEY:
        required: true
        description: "GCP Service Account Key"

jobs:
  build_and_deploy_backend:
    name: Build and deploy back-end
    environment: ${{ inputs.environment }}
    env:
      IMAGE: europe-west1-docker.pkg.dev/marble-infra/marble/marble-backend:${{ inputs.version }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # source: https://github.com/docker/login-action#google-artifact-registry-gar
      - name: Login to Google Artifact Registry
        uses: docker/login-action@v3
        with:
          registry: europe-west1-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.GCP_SA_KEY }}

      # source: https://github.com/docker/build-push-action
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ env.IMAGE }}

      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v1"
        with:
          install_components: beta

      - name: Auth
        uses: "google-github-actions/auth@v1"
        with:
          credentials_json: "${{ secrets.GCP_SA_KEY }}"

      - name: Deploy migration job
        uses: "google-github-actions/deploy-cloudrun@v2"
        with:
          service: marble-backend
          image: ${{ env.IMAGE }}
          region: europe-west1
          flags: --args="-server"
