name: Test back-end

on: [workflow_call]

permissions:
  contents: read
  pull-requests: read
  check: write

jobs:
  test_backend:
    name: Test back-end
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.60

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
