name: Deploy Staging

on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test_backend:
    uses: ./.github/workflows/backend_test_workflow.yaml

  build_and_deploy_backend:
    needs: test_backend
    uses: ./.github/workflows/backend_deploy_workflow.yaml
    with:
      environment: "staging"
      version: latest
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY_STAGING }}
